<div class="relative flex flex-col justify-center w-full h-full shadow-lg overflow-auto pt-4 gap-4 bg-color-white p-4">

    <app-custom-my-loading *ngIf="isLoading"></app-custom-my-loading>

    <!-- Botones Busqueda -->
    <div *ngIf="!isLoading" class="flex flex-col gap-2 w-full h-max">
        <!-- Botones y buscador -->
        <div class="flex flex-col md:flex-row gap-2 h-max border rounded-lg border-color-text p-2">
            <div class="flex flex-grow w-full">
                <form [formGroup]="formBusqueda" class="flex flex-col md:flex-row gap-2 w-full">
                    <app-custom-drop-down class="h-12 w-full md:w-max md:h-full" [id]="'id_pregunta'"
                        [label]="'Búsqueda...'" [control]="formBusqueda.controls.busqueda" [class]="''"
                        [data]="dataBusquedaUsuario">
                    </app-custom-drop-down>

                    <app-custom-input-2 class="h-12 w-full md:h-full md:flex-grow" [id]="'id_busqueda_value'"
                        [label]="'Búsqueda...'" [type]="'text'" [autocomplete]="''" [class]="''"
                        [control]="formBusqueda.controls.value" [icon]="''">
                    </app-custom-input-2>

                    <div class="flex gap-2 justify-center">
                        <app-custom-button-2 class="w-full h-12" [id]="'id_button_busqueda'" [label]="'Buscar'"
                            [type]="'accept'" [icon]="'fa-solid fa-magnifying-glass fa-lg'" [class]="''"
                            [valid]="formBusqueda.valid && isOnline" (click)="onClickBusqueda()">
                        </app-custom-button-2>

                        <app-custom-button-2 class="w-full h-12" [id]="'id_button_limpiar'" [label]="'Limpiar'"
                            [type]="'cancel'" [icon]="'fa-solid fa-broom fa-lg'" [class]="''" [valid]="isOnline"
                            (click)="onClicklimpiar()">
                        </app-custom-button-2>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <!-- Table y Nav -->
    <div *ngIf="!isLoading" class="overflow-auto shadow-md border rounded-lg grow">
        <table class="w-max md:w-full text-sm text-center rtl:text-right text-primary-500 table-fixed md:table-auto">
            <thead class="text-sm text-primary-800 uppercase bg-primary-50">
                <tr>
                    <th scope="col" class="px-6 py-3">#</th>

                    <th scope="col" class="px-6 py-3">Usuario</th>

                    <th scope="col" class="px-6 py-3">Nombres</th>

                    <th scope="col" class="px-6 py-3">Apellidos</th>

                    <th scope="col" class="px-6 py-3">Celular</th>

                    <th scope="col" class="px-6 py-3">Rol</th>

                    <th scope="col" class="px-6 py-3">Sexo</th>

                    <th scope="col" class="px-6 py-3">Estado</th>

                    <th scope="col" class="px-6 py-3">

                    </th>
                </tr>
            </thead>

            <tbody>
                <ng-container *ngFor="let item of dataUsuarios; index as i">
                    <tr *ngIf="item.rol !== 'Developer' || userLogeado.rol === 'Developer'"
                        [ngClass]="{'text-red-800': item.estado === 0, 'bg-primary-50' : i % 2 !== 0 }"
                        class="text-primary-800 bg-white border-b">
                        <td class=" px-2 py-2">{{ i + 1 }}</td>

                        <td class="px-2 py-2">{{ item.usuario }}</td>

                        <td class="px-2 py-2">{{ item.nombres }}</td>

                        <td class="px-2 py-2">{{ item.apellidos }}</td>

                        <td class="px-2 py-2">{{ item.celular }}</td>

                        <td class="px-2 py-2">{{ item.rol }}</td>

                        <td class="px-2 py-2">{{ item.sexo }}</td>

                        <td class="px-2 py-2">
                            <app-custom-status-indicator [status]="item.estado"></app-custom-status-indicator>
                        </td>

                        <td class="flex gap-4 px-2 py-2 z-10">
                            <p class="underline underline-offset-1 cursor-pointer" (click)="onClickVer(i)">
                                Ver
                            </p>

                            <p class="underline underline-offset-1 cursor-pointer" (click)="onClickActulizar(i)">
                                Actualizar
                            </p>

                            <p *ngIf="item.estado === 0 && (userLogeado.rol === 'Developer' || userLogeado.rol === 'Administrador') && userLogeado.usuario !== item.usuario"
                                class="underline underline-offset-1 cursor-pointer text-red-700"
                                (click)="onClickHabilitar(i)">Habilitar</p>

                            <p *ngIf="item.estado === 1 && (userLogeado.rol === 'Developer' || userLogeado.rol === 'Administrador') && userLogeado.usuario !== item.usuario"
                                class="underline underline-offset-1 cursor-pointer text-info-700"
                                (click)="onClickEliminar(i)">Eliminar</p>
                        </td>
                    </tr>
                </ng-container>
            </tbody>

        </table>
    </div>


    <app-agregar-usuario *ngIf="!isLoading && showUsuarioAlert" [type]="typeUsuarioAlert" [title]="titleUsuarioAlert"
        [usuario]="UsuarioAlert" (response)="onReciveResponseUsuarioAlert($event)">
    </app-agregar-usuario>

</div>