<div class="relative flex flex-col justify-center w-full h-full shadow-lg overflow-auto pt-4 gap-4 bg-color-white p-4">

    <app-custom-alert-confirmation *ngIf="showConfirmation" (response)="onReciveResponseConfirmation($event)"
        [msgAlert]="'¿Agregar artículos faltantes?'" [strBtn1]="'Sí, agregar'"
        [strBtn2]="'Cancelar'"></app-custom-alert-confirmation>

    <app-custom-my-loading *ngIf="isLoading"></app-custom-my-loading>

    <app-custom-add-producto-stock *ngIf="showProdStockSucursal" (response)="onReciveResponseProdStockGeneral($event)"
        [prodStockSucursal]="prodStockSucursalSelected" [type]="prodStockSucursalType"
        [productoType]="'sucursal'"></app-custom-add-producto-stock>

    <app-agregar-producto *ngIf="showProducto" [cod_producto]="productoCodeSelected" [type]="'editar'"
        (response)="onReciveResponseAddProducto($event)"></app-agregar-producto>

    <!-- Botones Busqueda -->
    <div *ngIf="!isLoading" class="flex flex-col gap-2 w-full h-max">
        <!-- Botones y buscador -->
        <div class="flex flex-col md:flex-row gap-2 h-max border rounded-lg border-color-text p-2  md:divide-x">
            <div class="flex flex-grow w-full">
                <form [formGroup]="formBusqueda" class="flex flex-col md:flex-row gap-2 w-full overflow-auto">
                    <app-custom-drop-down [id]="'id_drop_down'" [label]="'Sucursal...'"
                        [control]="formSucursalSelected.controls.sucursal" [class]="''" [data]="dataSucursal"
                        (valueChanged)="onDropdownValueChangeSucursal($event)">
                    </app-custom-drop-down>

                    <app-custom-drop-down *ngIf="dataAlmacen.length > 0" [id]="'id_drop_down'" [label]="'Almacen...'"
                        [control]="formSucursalSelected.controls.almacen" [class]="''" [data]="dataAlmacen"
                        (valueChanged)="onDropdownValueChangeAlmacen($event)">
                    </app-custom-drop-down>

                    <app-custom-button-1 *ngIf="idSucursalSelected > 0 && idAlmacenSelected > 0" class="w-full md:w-max h-12" [id]="'id_button_limpiar'"
                        [label]="'Prendas Faltantes'" [type]="'cancel'" [icon]="'fa-solid fa-add fa-lg'" [class]="''"
                        [valid]="true" (click)="onClickAgregarFaltantes()">
                    </app-custom-button-1>
                </form>
            </div>
        </div>

    </div>

    <!-- Table -->
    <div *ngIf="!isLoading" class="flex flex-col gap-4 w-full h-full overflow-auto">
        <!-- Table y Nav -->
        <div class="overflow-auto shadow-md border rounded-lg grow">
            <table *ngIf="idSucursalSelected > 0 && idAlmacenSelected > 0"
                class="w-max md:w-full text-sm text-left rtl:text-right text-primary-900 table-fixed md:table-auto">
                <thead class="text-sm text-primary-800 uppercase bg-primary-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">#</th>

                        <th scope="col" class="px-6 py-3">Código Producto</th>

                        <th scope="col" class="px-6 py-3">Descripción</th>

                        <th scope="col" class="px-6 py-3">Precio Unitario</th>

                        <th scope="col" class="px-6 py-3">Precio Mayor</th>

                        <th scope="col" class="px-6 py-3">Cantidad</th>

                        <th scope="col" class="px-6 py-3"></th>
                    </tr>
                </thead>

                <tbody>
                    <ng-container *ngFor="let item of dataProductos; index as i">
                        <tr *ngIf="item.producto.estado === 1 || (item.producto.estado === 0 && (userLogeado.rol === 'Developer' || userLogeado.rol === 'Administrador'))"
                            [ngClass]="{'text-red-800': item.producto.estado === 0, 'bg-primary-50' : i % 2 !== 0 }"
                            class="text-primary-800 bg-white border-b">
                            <th scope="col" class="px-6 py-3">{{ i + 1 }}</th>

                            <th scope="col" class="px-6 py-3">{{ item.cod_producto }}</th>

                            <th scope="col" class="px-6 py-3">
                                {{ item.producto.categoria + ' - ' + item.producto.talla + ' - ' + item.producto.color}}
                            </th>

                            <th scope="col" class="px-6 py-3">{{ item.producto.precio_unitario | currency:'BOB':'Bs. '}}
                            </th>

                            <th scope="col" class="px-6 py-3">{{ item.producto.precio_mayor | currency:'BOB':'Bs. '}}
                            </th>

                            <th scope="col" class="px-6 py-3">{{ item.cantidad }}</th>

                            <td class="px-2 py-2 flex gap-4">
                                <p class="underline underline-offset-1 cursor-pointer text-info-700"
                                    (click)="onClickItemTable('editar', i)">Actualizar</p>
                                <!-- 
                                <p *ngIf="item.producto.estado === 1"
                                    class="underline underline-offset-1 cursor-pointer text-red-700"
                                    (click)="onClickEliminar(i)">Eliminar</p>
                                <p *ngIf="item.producto.estado === 0"
                                    class="underline underline-offset-1 cursor-pointer text-info-700"
                                    (click)="onClickHabilitar(i)">Habilitar</p>
                                -->
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>