<div
    class="flex overflow-auto absolute top-0 right-0 left-0 justify-center items-center w-full h-full bg-primary-100 bg-opacity-60 backdrop-filter backdrop-blur-sm z-10">
    <div class="p-4 w-full max-w-lg max-h-full">
        <div class="bg-color-white rounded-lg shadow">

            <app-custom-my-loading *ngIf="isLoading" [class]="'m-4'"></app-custom-my-loading>

            <div *ngIf="!isLoading" class="flex flex-col p-4 md:p-5 text-center gap-4">
                <app-custom-title [id]="'id_title_usuario'" [label]="title"
                    [class]="'w-full text-center uppercase text-primary-500'">
                </app-custom-title>

                <form class="flex flex-col gap-4 lg:grid lg:grid-cols-2">
                    <app-custom-input-2 class="col-span-2" [id]="'id_input_sucursal'" [label]="'Nombre Sucursal'"
                        [type]="'text'" [autocomplete]="''" [class]="''" [control]="formSucursal.controls.nombre"
                        [icon]="'fa-solid fa-shop fa-lg'">
                    </app-custom-input-2>

                    <app-custom-input-2 [id]="'id_input_direccion'" [label]="'Dirección'" [type]="'text'"
                        [autocomplete]="''" [class]="''" [control]="formSucursal.controls.direccion"
                        [icon]="'fa-solid fa-location-dot fa-lg'"></app-custom-input-2>

                    <app-custom-input-2 [id]="'id_input_telefono'" [label]="'Teléfono'" [type]="'text'"
                        [autocomplete]="''" [class]="''" [control]="formSucursal.controls.telefono"
                        [icon]="'fa-solid fa-phone fa-lg'"></app-custom-input-2>

                    <app-custom-input-2 [id]="'id_input_descipcion'" [label]="'Descripción'" [type]="'text'"
                        [autocomplete]="''" [class]="''" [control]="formSucursal.controls.descripcion"
                        [icon]="'fa-solid fa-info fa-lg'"></app-custom-input-2>

                    <app-custom-drop-down [id]="'id_drop_down_encargado'" [label]="'Encargado...'"
                        [control]="formSucursal.controls.usuario_encargado" [class]="''" [data]="dataUsuarios">
                    </app-custom-drop-down>
                </form>

                <div class="flex w-full gap-4">
                    <app-custom-button-1 *ngIf="type != 'ver'" class="w-full" [id]="'id_button_aceptar'"
                        [label]="'Aceptar'" [type]="'accept'" [icon]="''" [class]="'w-full'"
                        [valid]="formSucursal.valid && isOnline" (click)="onClickAceptar()">
                    </app-custom-button-1>

                    <app-custom-button-1 class="w-full" [id]="'id_button_cancelar'" [label]="'Cancelar'"
                        [type]="'cancel'" [icon]="''" [class]="'w-full'" [valid]="true" (click)="onClickCancelar()">
                    </app-custom-button-1>
                </div>
            </div>
        </div>
    </div>
</div>